<header> 
    <!-- start navigation -->
    <nav class="navbar navbar-expand-lg header-transparent bg-transparent header-reverse" data-header-hover="light">
        <div class="container-fluid">
            <div class="col-auto col-lg-2 me-lg-0 me-auto">
                <a class="navbar-brand" href="demo-restaurant.html">
                    <img src="images/demo-restaurant-logo-white.png" data-at2x="images/demo-restaurant-logo-white@2x.png" alt="" class="default-logo">
                    <img src="images/demo-restaurant-logo-black.png" data-at2x="images/demo-restaurant-logo-black@2x.png" alt="" class="alt-logo">
                    <img src="images/demo-restaurant-logo-black.png" data-at2x="images/demo-restaurant-logo-black@2x.png" alt="" class="mobile-logo"> 
                </a>
            </div>
            <div class="col-auto menu-order position-static">
                <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav"> 
                    <ul class="navbar-nav alt-font ls-1px"> 
                        <li class="nav-item"><a href="demo-restaurant.html" class="nav-link">Accueil</a></li>
                        <li class="nav-item"><a href="demo-restaurant-about.html" class="nav-link">A propos</a></li>
                        <li class="nav-item"><a href="demo-restaurant-menu.html" class="nav-link">Menu</a></li>
                        <li class="nav-item"><a href="demo-restaurant-story.html" class="nav-link">Notre histoire</a></li>
                        <li class="nav-item"><a href="demo-restaurant-gallery.html" class="nav-link">Gallerie</a></li>
                        <li class="nav-item"><a href="demo-restaurant-chefs.html" class="nav-link">Chefs</a></li>
                        <li class="nav-item"><a href="demo-restaurant-blog.html" class="nav-link">Blog</a></li>
                        <li class="nav-item"><a href="demo-restaurant-contact.html" class="nav-link">Contact</a></li> 
                    </ul>
                </div>
            </div>
            <div class="col-auto col-lg-2 text-end d-none d-sm-flex">
                <div class="header-icon"> 
                    <div class="header-button"> 
                        <a href="demo-restaurant-contact.html" class="btn border-1 btn-transparent-white-light border-color-transparent-white-light btn-small left-icon btn-switch-text btn-rounded">
                            <span>
                                <span><i class="feather icon-feather-calendar"></i></span>
                                <span class="btn-double-text" data-text="Réserver une table">Réserver une table</span> 
                            </span>
                        </a>
                    </div> 
                </div>  
            </div>
        </div>
    </nav>
    <!-- end navigation -->
</header>