#main-banner-section{
    background: url(https://craftohtml.themezaa.com/images/demo-restaurant-home-banner-bg.jpg);
}

.main-banner-letter{
    color: var(--red);
}

.img-actu-slider{
    height: 376px;
}

.blog-categories{
    display: flex;
    justify-content: end;
}