{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

<body data-mobile-nav-style="classic">
    
    {{ parent() }}
    
    <!-- start header -->
	{% include 'admin/partials/_header_admin.html.twig' %}
	<!-- end header -->

    <!-- start section -->
    <section class="main-section">
        <div class="container">
            <div class="row justify-content-center">
                
                <div class="col-12 blog-standard md-mb-50px sm-mb-40px">
                    <div class="row blog-details mb-3 d-flex align-items-center"> 
                        <div class="col-10">
                            <h5 class="text-dark-gray fw-600 w-80 sm-w-100 mb-1">MENU - Modifier</h5>
                        </div>
                        <div class="admin-action col-2 d-flex justify-content-end">
                            <a href="{{ path('admin_index')}}">
                                <i class="fa-solid fa-circle-left align-middle icon-large text-base-color me-2"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-10">
                    <div class="row mb-50px sm-mb-30px">     
                        {{ include('admin/menu/_form.html.twig') }}
                    </div>
                </div>

            </div>
        </div>
        
    </section>
    <!-- end section -->

    <!-- start footer -->
    {% include 'admin/partials/_footer_minimum.html.twig' %}
    <!-- end footer -->

</body>
{% endblock %}

{% block baseJavascripts %}   
    
    {% block importmap %}
        {{ importmap(['app', 'admin']) }}
    {% endblock %}

{% endblock %}
